
@import './utils/modern-normalize';
@import './utils/variables';
@import './componrnts/base/reset' ;

@import './componrnts/conteiner' ;

@import './componrnts/layout/header' ;
@import './componrnts/btn';
@import './componrnts/layout/home';
@import './componrnts/layout/section-one';
@import './componrnts/layout/home-photo';
@import './componrnts/layout/team';
@import './componrnts/layout/icon-new';
@import './componrnts/layout/section-portfolio';
@import './componrnts/layout/section-galeri';
@import './componrnts/layout/footer';
@import './componrnts/layout/modal';


