.footer-home {
    background-color: #2f303a;
    text-decoration: none;
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-footer {
    display: flex;
    align-items: baseline;
}

.footer-home-logo {
    font-family: "Raleway";

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
    text-decoration: none;
}

.footer-spen {
    color: #ffffff;
}

.footer-home-adress {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 10px;
}



.footer-home-lins {
    list-style: none;
    margin-bottom: 10px;
    &:last-child {
            margin-bottom: 0;
        }
}



.footer-home-tel {
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-size: 14px;
    line-height: 1.7;

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
   &:hover {
            color: #2196f3;
        }
}

.section-h2 {
    margin-left: 70px;
}

.foter-h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-icons {
    display: flex;

    list-style: none;
}

.footer-icins-li {
    margin-right: 10px;
    width: 44px;
    height: 44px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       & :focus {
                background-color: #2196f3;
            }
        
            & :hover {
                background-color: #2196f3;
            }
}

.footer-icins-a {
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icins-logo {
    fill: currentColor;
}



.subscription-form {
    margin-left: auto;
}

.footer-label {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.subscription-mail-form {
    display: flex;

}

.subscription-icon {
    margin-left: 10px;
}

.futer-input {

    margin-right: 12px;

    width: 358px;
    height: 50px;

    font-size: 16px;
    line-height: 1.25;

    color: rgba(255, 255, 255, 0.6);
    background-color: #2F303A;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    &::placeholder {
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 16px;
        }
}



.footer-buten {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 0;

    width: 200px;
    height: 50px;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;


}

.foter-div-button {
    justify-content: center;
    align-items: center;
}