.home-photo {
    background-color: #ffffff;
}

.home-photo-logo {
    text-align: center;

    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    color: #212121;
}

.home-photo-link {
    list-style: none;
    display: flex;
}

.home-photo-lins+.home-photo-lins {
    margin-left: 30px;
}